.header {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #b0e6ef;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, );
}

  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 70px;
    margin-left: 20px;
  }
  
  .nav {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    align-items: center;
  }
  .nav a {
    margin-left: 20px;
  }
  
  .nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin-left: 30px;
    float:right;
  }
  
  .nav a {
    color: #333;
    text-decoration: none;
  }
  @media (min-width:900px) {
    .nav-menu {
      display: none;
    }
    
  }
  
  .nav a:hover {
    color: #0077be;
  }
  